<div>
  <form class="form-inline" action="/dashboard/courses" method="GET">
    <div class="form-group">
      <input class="form-control" name="code" placeholder="<%= I18n.t('courses.search_placeholder') %>" value="<%= params[:code] %>">
    </div>
    <a href="/dashboard/courses/new_course" class="btn btn-success"><%= I18n.t('courses.buttons.new_course') %></a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseTypes"><%= I18n.t('courses.buttons.modalities') %></button>
  </form>

  <br />

  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('courses.labels.code') %></th>
        <th scope="col"><%= I18n.t('courses.labels.modality') %></th>
        <th scope="col"><%= I18n.t('courses.labels.office') %></th>
        <th scope="col"><%= I18n.t('courses.labels.options') %></th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.course_code %></td>
          <td><%= course.course_modality %></td>
          <td><%= course.office_name %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t('courses.labels.options') %><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/dashboard/courses/<%= course.course_id %>/delete"><%= I18n.t('courses.options.delete') %></a></li>
                <li><a href="/dashboard/courses/<%= course.course_id %>/edit"><%= I18n.t('courses.options.edit') %></a></li>
                <li><a href="/dashboard/courses/<%= course.course_id %>/sections"><%= I18n.t('courses.options.sections') %></a>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= will_paginate @courses, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  <%= "<a href=\"/dashboard/courses\">#{I18n.t('courses.buttons.back')}</a>" if params[:code] %>
</div>

<div class="modal fade" id="courseTypes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= I18n.t('courses.page_titles.modalities') %></h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><%= I18n.t('courses.labels.modality') %></th>
              <th scope="col"><%= I18n.t('courses.labels.days') %></th>
              <th scope="col"><%= I18n.t('courses.labels.schedule') %></th>
            </tr>
          </thead>
          <tbody>
            <% @course_types.each do |type| %>
              <tr>
                <td><%= type.course_modality %></td>
                <td><%= type.course_days %></td>
                <td><%= type.course_schedule %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t('courses.buttons.close') %></button>
      </div>
    </div>
  </div>
</div>
