<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="<%=url("/stylesheets/bootstrap.css")%>">
    <link rel="stylesheet" type="text/css" href="<%=url("/stylesheets/application.css")%>">
    <link rel="stylesheet" type="text/css" href="<%=url("/stylesheets/bootstrap-datetimepicker.min.css")%>">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <title><%= @page_title %> | AF Maracay</title>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard">AF Maracay</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t('dashboard.menu.labels.modules') %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/dashboard/courses"><%= I18n.t('dashboard.menu.labels.courses') %></a></li>
                <li><a href="/dashboard/students"><%= I18n.t('dashboard.menu.labels.students') %></a></li>
                <li><a href="/dashboard/teachers"><%= I18n.t('dashboard.menu.labels.teachers') %></a></li>
                <li><a href="/dashboard/providers"><%= I18n.t('dashboard.menu.labels.providers') %></a></li>
                <li><a href="#"><%= I18n.t('dashboard.menu.labels.wages') %></a></li>
                <li><a href="/dashboard/users"><%= I18n.t('dashboard.menu.labels.users') %></a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t('dashboard.menu.labels.inventory') %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><%= I18n.t('dashboard.menu.labels.inventory_movements') %></a></li>
                <li><a href="#"><%= I18n.t('dashboard.menu.labels.inventory_check') %></a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t('dashboard.menu.labels.reports') %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><%= I18n.t('dashboard.menu.labels.generate_report') %></a></li>
                <li><a href="#"><%= I18n.t('dashboard.menu.labels.check_reports') %></a>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/dashboard/change_password"><%= session[:name] %></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t('dashboard.menu.labels.language') %><span class="caret"></span></a>
              <ul class="dropdown-menu">
              <!-- Here goes all the available locales -->
              </ul>
            </li>
            <li><a href="/logout"><%= I18n.t('dashboard.menu.labels.signout') %></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="wrap" class="container">
      <%= yield %>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="<%=url("/javascript/moment.min.js")%>"></script>
    <script type="text/javascript" src="<%=url("/javascript/bootstrap-datetimepicker.min.js")%>"></script>
    <script type="text/javascript" src="<%=url("/javascript/application.js")%>"></script>

    <% if flash[:notice] %>
      <script type="text/javascript">
        toastr.success('<%= flash[:notice] %>');
      </script>
    <% end %>

    <% if flash[:error] %>
      <script type="text/javascript">
        toastr.error('<%= flash[:error] %>');
      </script>
    <% end %>

    <% if flash[:errors] %>
      <script type="text/javascript">
        <% flash[:errors].reverse_each do |error| %>
        toastr.error('<%= h(error) %>');
        <% end %>
      </script>
    <% end %>

    <!-- TO-DO: Footer -->

  </body>
</html>
