<!-- color: #DA002E, #970202, #870724 -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="<%=url("/stylesheets/bootstrap.css")%>">
    <link rel="stylesheet" type="text/css" href="<%=url("/stylesheets/fixed-navbar_footer.css")%>">
    <title><%= @page_title %> | AF Maracay</title>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/dashboard">AF Maracay</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Controles<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Cuotas</a></li>
                <li><a href="/dashboard/courses">Cursos</a></li>
                <li><a href="#">Estudiantes</a></li>
                <li><a href="#">Inscripciones</a></li>
                <li><a href="/dashboard/teachers">Profesores</a></li>
                <li><a href="#">Secciones</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventario<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Movimientos</a></li>
                <li><a href="#">Ver inventario</a></li>
              </ul>
            </li>

            <% if session[:rol] == "Admin" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Generar reporte</a></li>
                <li><a href="#">Ver reportes</a>
              </ul>
            </li>

            <li><a href="#">Salarios</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/dashboard/users">Lista de usuarios</a></li>
                <li><a href="/dashboard/users/new_user">Nuevo usuario</a></li>
              </ul>
            </li>
          <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/dashboard/change_password"><%= session[:nombre] %></a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lenguaje<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Español</a></li>
                <li><a href="#">Français</a></li>
              </ul>
            </li>

            <li><a href="/logout">Cerrar sesión</a></li>
          </ul>

        </div>
      </div>
    </nav>

    <div id="wrap" class="container">
      <%= yield %>
    </div>

    <!-- TO-DO: Footer -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="<%=url("/javascript/bootstrap.js")%>"></script>

  </body>
</html>
