<h3 align="center" style="padding-bottom:1%;"><%= I18n.t('sections.page_titles.section_students', level: @section.level_description) %></h3>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t('students.labels.id') %></th>
      <th scope="col"><%= I18n.t('students.labels.name') %></th>
      <th scope="col"><%= I18n.t('students.labels.phone_number') %></th>
      <th scope="col"><%= I18n.t('students.labels.alt_phone_number') %></th>
      <th scope="col"><%= I18n.t('students.labels.email') %></th>
      <th scope="col"><%= I18n.t('students.labels.has_scholarship') %></th>
    </tr>
  </thead>
  <tbody>
    <% @section_students.each do |student| %>
      <tr>
        <td><%= student.student_cedula %></td>
        <td><%= h(student.student_name) %></td>
        <td><%= student.student_phone %></td>
        <td><%= student.alternative_phone %></td>
        <td><%= student.student_email %></td>
        <td><%= student.has_scholarship ? I18n.t('students.data.has_scholarship.assigned') : I18n.t('students.data.has_scholarship.non_assigned') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @section_students.size > 10 %>
  <div class="pagination">
    <%= will_paginate @section_students, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  </div>
<% end %>

<a href="/dashboard/courses/<%= params[:course] %>/sections" class="btn btn-default"><%= I18n.t('students.buttons.back') %></a>
