<h3 align="center" style="padding-bottom:1%;"><%= I18n.t('sections.page_titles.course_sections', course_code: @course_code) %></h3>
<div>
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('sections.labels.level') %></th>
        <th scope="col"><%= I18n.t('sections.labels.capacity') %></th>
        <th scope="col"><%= I18n.t('sections.labels.start_date') %></th>
        <th scope="col"><%= I18n.t('sections.labels.end_date') %></th>
        <th scope="col"><%= I18n.t('sections.labels.section_hours') %></th>
        <th scope="col"><%= I18n.t('sections.labels.hours_covered') %></th>
        <th scope="col"><%= I18n.t('sections.labels.assigned_grades') %></th>
        <th scope="col"><%= I18n.t('sections.labels.closed_section') %></th>
        <th scope="col"><%= I18n.t('sections.labels.options') %></th>
      </tr>
    </thead>
    <tbody>
      <% @sections.each do |section| %>
        <tr>
          <td><%= section.level_description %></td>
          <td><%= I18n.t('sections.data.capacity', count: section.section_capacity) %></td>
          <td><%= I18n.l(section.start_date) %></td>
          <td><%= I18n.l(section.end_date) %></td>
          <td><%= I18n.t('sections.data.hours', count: section.section_hours) %></td>
          <td><%= I18n.t('sections.data.hours', count: section.hours_covered) %></td>
          <td><%= section.grades_assigned ? I18n.t('sections.data.grades_assigned.assigned') : I18n.t('sections.data.grades_assigned.non_assigned') %></td>
          <td><%= section.is_finished ? I18n.t('sections.data.closed_section.closed') : I18n.t('sections.data.closed_section.not_closed') %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t('sections.labels.options') %><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/dashboard/courses/<%= section.course_id %>/sections/<%= section.section_id %>/delete"><%= I18n.t('sections.options.delete') %></a></li>
                <li><a href="/dashboard/courses/<%= section.course_id %>/sections/<%= section.section_id %>/edit"><%= I18n.t('sections.options.edit') %></a></li>
                <li><a href="/dashboard/courses/<%= section.course_id %>/sections/<%= section.section_id %>/students/show"><%= I18n.t('sections.options.section_students') %></a>
                <% if section.section_hours == 0 && section.grades_assigned == false %>
                  <li><a href="/dashboard/courses/<%= section.course_id %>/sections/<%= section.section_id %>/grades/assign"><%= I18n.t('sections.options.assign_grades') %></a></li>
                <% end %>
                <% if section.grades_assigned == true && section.is_finished == false %>
                  <li><a href="/dashboard/courses/<%= section.course_id %>/sections/<%= section.section_id %>/promote"><%= I18n.t('sections.options.promote') %></a></li>
                <% end %>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @sections.size > 10 %>
  <div class="pagination">
    <%= will_paginate @sections, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  </div>
<% end %>

<a href="/dashboard/courses/<%= params[:id] %>/sections/new" class="btn btn-success"><%= I18n.t('sections.buttons.new_section') %></a>
<a href="/dashboard/courses" class="btn btn-default"><%= I18n.t('payments.buttons.back') %></a>
