<form id="registro" action="/dashboard/teachers/add_bank_account/<%= @id_profesor %>" method="POST">
  <% if flash[:notice] %>
    <p class="text-success"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="text-danger"><%= flash[:error] %></p>
  <% end %>
  <label>Banco</label>
  <select name="banco" class="form-control">
    <% @banks.each do |bank| %>
      <option value="<%= bank.idBanco %>"><%= bank.nombreBanco %></option>
    <% end %>
  </select>
  <br />
  <div class="form-group">
    <label>Número de cuenta</label>
    <input type="text" class="form-control" name="numero" placeholder="Número de cuenta">
  </div>
  <label>Tipo de cuenta</label>
    <select name="tipo" class="form-control">
      <option value="Ahorro">Ahorro</option>
      <option value="Corriente">Corriente</option>
    </select>
  <br />
  <button type="submit" class="btn btn-success">Asignar cuenta</button>
  <a href="/dashboard/teachers" class="btn btn-default">Cancelar</a>
</form>
