<form id="registro" action="/dashboard/teachers/bank_accounts/<%= @id_profesor %>/add" method="POST">
  <% if flash[:notice] %>
    <p class="text-success"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
  <% flash[:error].each do |mensaje| %>
    <p class="text-danger"><%= mensaje %></p>
  <% end %>
  <% end %>
  <div class="form-group">
  <label>Banco</label>
  <select name="cuenta[idBanco]" class="form-control">
    <% @banks.each do |bank| %>
      <option value="<%= bank.idBanco %>"><%= bank.nombreBanco %></option>
    <% end %>
  </select>
  </div>
  <div class="form-group">
    <label>Número de cuenta</label>
    <input type="text" class="form-control" name="cuenta[numeroCuenta]" placeholder="Número de cuenta">
  </div>
  <div class="form-group">
  <label>Tipo de cuenta</label>
    <select name="cuenta[tipoCuenta]" class="form-control">
      <option value="Ahorro">Ahorro</option>
      <option value="Corriente">Corriente</option>
    </select>
  </div>
  <input type="hidden" name="cuenta[idProfesor]" value="<%= @id_profesor %>">
  <button type="submit" class="btn btn-success">Asignar cuenta</button>
  <a href="/dashboard/teachers/bank_accounts/<%= @id_profesor %>" class="btn btn-default">Cancelar</a>
</form>
