<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Banco</th>
      <th scope="col">Número de cuenta</th>
      <th scope="col">Tipo de cuenta</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
    <% Bank.where(bank_id: account.bank_id).each do |bank| %>
      <tr>
        <td><%= bank.bank_name %></td>
        <td><%=h account.account_number %></td>
        <td><%= account.account_type %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/teachers/<%= @teacher_id %>/bank_accounts/<%= account.bank_account_id %>/delete">Eliminar</a></li>
              <li><a href="/dashboard/teachers/<%= @teacher_id %>/bank_accounts/<%= account.bank_account_id %>/edit">Modificar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<a href="/dashboard/teachers/<%= @teacher_id %>/bank_accounts/add" class="btn btn-success">Asignar cuenta bancaria</a>
<a href="/dashboard/teachers" class="btn btn-default">Atrás</a>
