<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Tipo</th>
      <th scope="col">Sede</th>
      <th scope="col">Nivel</th>
      <th scope="col">Capacidad</th>
      <th scope="col">Inicio del curso</th>
      <th scope="col">Fin del curso</th>
      <th scope="col">Horas académicas</th>
      <th scope="col">Horas cubiertas</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <% CourseType.where(course_type_id: course.course_type_id).select(:course_type).each do |type| %>
    <% Office.where(office_id: course.office_id).select(:office_name).each do |office| %>
      <tr>
        <td><%=h course.course_code %></td>
        <td><%= type.course_type %></td>
        <td><%= office.office_name %></td>
        <td><%=h course.course_level %></td>
        <td><%=h course.course_capacity %></td>
        <td><%=h course.start_date.strftime('%d/%m/%Y') %></td>
        <td><%=h course.completion_date.strftime('%d/%m/%Y') %></td>
        <% if course.course_hours == 0 %>
        <td>Finalizado</td>
        <td>Finalizado</td>
        <% else %>
        <td><%=h course.course_hours %></td>
        <td><%=h course.hours_covered %></td>
        <% end %>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/courses/<%= course.course_id %>/delete">Eliminar</a></li>
              <li><a href="/dashboard/courses/<%= course.course_id %>/edit">Modificar</a></li>
              <li><a href="/dashboard/courses/<%= course.course_id %>/show_students">Ver estudiantes</a>
              <% if course.course_hours == 0 %>
              <li><a href="/dashboard/courses/<%= course.course_id %>/assign_grades">Asignar calificaciones</a></li>
              <li><a href="/dashboard/courses/<%= course.course_id %>/promote">Promover</a></li>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<a href="/dashboard/courses/new_course" class="btn btn-success">Crear nuevo curso</a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tiposCurso">Tipos de curso</button>

<div class="modal fade" id="tiposCurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tipos de curso</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Días</th>
              <th scope="col">Horario</th>
            </tr>
          </thead>
          <tbody>
            <% @types.each do |type| %>
              <tr>
                <td><%= type.course_type %></td>
                <td><%= type.course_days %></td>
                <td><%= type.course_schedule %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
