<% if flash[:notice] %>
  <p class="text-success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="text-danger"><%= flash[:error] %></p>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Nivel</th>
      <th scope="col">Capacidad</th>
      <th scope="col">Inicio del curso</th>
      <th scope="col">Fin del curso</th>
      <th scope="col">Horas académicas</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <% Type.where(idTipoCurso: course.idTipoCurso).select(:tipoCurso).each do |type| %>
      <tr>
        <td><%= type.tipoCurso %></td>
        <td><%= course.nivelCurso %></td>
        <td><%= course.capacidadCurso %></td>
        <td><%= course.inicioCurso %></td>
        <td><%= course.finCurso %></td>
        <td><%= course.horasCurso %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/courses/delete/<%= course.idCurso %>">Eliminar</a></li>
              <li><a href="/dashboard/courses/edit/<%= course.idCurso %>">Modificar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<a href="/dashboard/courses/new_course" class="btn btn-success">Crear nuevo curso</a>
