<div>
  <form class="form-inline" action="/dashboard/courses" method="GET">
    <div class="form-group">
      <input class="form-control" name="code" placeholder="Buscar por código" value="<%= params[:code] %>">
    </div>
    <a href="/dashboard/courses/new_course" class="btn btn-success">Crear nuevo curso</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseTypes">Tipos de curso</button>
  </form>

  <br />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Tipo</th>
        <th scope="col">Sede</th>
        <th scope="col">Nivel</th>
        <th scope="col">Capacidad</th>
        <th scope="col">Inicio del curso</th>
        <th scope="col">Fin del curso</th>
        <th scope="col">Horas académicas</th>
        <th scope="col">Horas cubiertas</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.course_code %></td>
          <td><%= course.course_name %></td>
          <td><%= course.office_name %></td>
          <td><%= course.course_level %></td>
          <td><%= course.course_capacity %></td>
          <td><%= course.start_date.strftime('%d/%m/%Y') %></td>
          <td><%= course.completion_date.strftime('%d/%m/%Y') %></td>
          <% if course.course_hours == 0 %>
          <td>Finalizado</td>
          <td>Finalizado</td>
          <% else %>
          <td><%= course.course_hours %></td>
          <td><%= course.hours_covered %></td>
          <% end %>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/dashboard/courses/<%= course.course_id %>/delete">Eliminar</a></li>
                <li><a href="/dashboard/courses/<%= course.course_id %>/edit">Modificar</a></li>
                <li><a href="/dashboard/courses/<%= course.course_id %>/students/show">Estudiantes del curso</a>
                <% if course.course_hours == 0 %>
                <li><a href="/dashboard/courses/<%= course.course_id %>/assign_grades">Asignar calificaciones</a></li>
                <li><a href="/dashboard/courses/<%= course.course_id %>/promote">Promover</a></li>
                <% end %>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagination">
    <%= will_paginate @courses, container: false, previous_label: "&laquo", next_label: "&raquo" %>
    <%= "<a href=\"/dashboard/courses\">Volver</a>" if params[:code] %>
  </div>
</div>

<div class="modal fade" id="courseTypes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tipos de curso</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Días</th>
              <th scope="col">Horario</th>
            </tr>
          </thead>
          <tbody>
            <% @course_types.each do |type| %>
              <tr>
                <td><%= type.course_name %></td>
                <td><%= type.course_days %></td>
                <td><%= type.course_schedule %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
