<% if flash[:notice] %>
  <p class="text-success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="text-danger"><%= flash[:error] %></p>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Tipo</th>
      <th scope="col">Nivel</th>
      <th scope="col">Capacidad</th>
      <th scope="col">Inicio del curso</th>
      <th scope="col">Fin del curso</th>
      <th scope="col">Horas académicas</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <% Type.where(idTipoCurso: course.idTipoCurso).select(:tipoCurso).each do |type| %>
      <tr>
        <td><%= type.tipoCurso %></td>
        <td><%= course.nivelCurso %></td>
        <td><%= course.capacidadCurso %></td>
        <td><%= course.inicioCurso %></td>
        <td><%= course.finCurso %></td>
        <td><%= course.horasCurso %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/courses/delete/<%= course.idCurso %>">Eliminar</a></li>
              <li><a href="/dashboard/courses/edit/<%= course.idCurso %>">Modificar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/dashboard/courses/new_course" class="btn btn-success">Crear nuevo curso</a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tiposCurso">
  Ver tipos de curso
</button>

<div class="modal fade" id="tiposCurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tipos de curso</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Días</th>
              <th scope="col">Horario</th>
            </tr>
          </thead>
          <tbody>
            <% @types.each do |type| %>
              <tr>
                <td><%= type.tipoCurso %></td>
                <td><%= type.diasCurso%></td>
                <td><%= type.horarioCurso %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
