<% if flash[:notice] %>
  <p class="success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Tipo</th>
      <th scope="col">Sede</th>
      <th scope="col">Nivel</th>
      <th scope="col">Capacidad</th>
      <th scope="col">Inicio del curso</th>
      <th scope="col">Fin del curso</th>
      <th scope="col">Horas cubiertas</th>
      <th scope="col">Horas académicas</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <% Tipo.where(idTipoCurso: course.idTipoCurso).select(:tipoCurso).each do |tipo| %>
    <% Sede.where(idSede: course.idSede).select(:nombreSede).each do |sede| %>
      <tr>
        <td><%=h course.codigoCurso %></td>
        <td><%= tipo.tipoCurso %></td>
        <td><%= sede.nombreSede %></td>
        <td><%=h course.nivelCurso %></td>
        <td><%=h course.capacidadCurso %></td>
        <td><%=h course.inicioCurso.strftime('%d/%m/%Y') %></td>
        <td><%=h course.finCurso.strftime('%d/%m/%Y') %></td>
        <% if course.horasCurso == 0 %>
        <td>Finalizado</td>
        <td>Finalizado</td>
        <% else %>
        <td><%=h course.horasCubiertas %></td>
        <td><%=h course.horasCurso %></td>
        <% end %>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/courses/<%= course.idCurso %>/delete">Eliminar</a></li>
              <li><a href="/dashboard/courses/<%= course.idCurso %>/edit">Modificar</a></li>
              <li><a href="/dashboard/courses/<%= course.idCurso %>/show_students">Ver estudiantes</a>
              <% if course.horasCurso == 0 %>
              <li><a href="/dashboard/courses/<%= course.idCurso %>/assign_grades">Asignar calificaciones</a></li>
              <li><a href="/dashboard/courses/<%= course.idCurso %>/promote">Promover</a></li>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<a href="/dashboard/courses/new_course" class="btn btn-success">Crear nuevo curso</a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tiposCurso">Tipos de curso</button>

<div class="modal fade" id="tiposCurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tipos de curso</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Días</th>
              <th scope="col">Horario</th>
            </tr>
          </thead>
          <tbody>
            <% @tipos.each do |tipo| %>
              <tr>
                <td><%= tipo.tipoCurso %></td>
                <td><%= tipo.diasCurso%></td>
                <td><%= tipo.horarioCurso %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
