<% if @id_curso %>
  <div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Eliminar curso</h3>
    </div>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
    <div class="panel-body">
        <p>¿Está usted seguro de <b>eliminar</b> este curso? Esta acción no puede ser revertida.</p>
        <ol style="list-style-type:disc;">
        <li><b>Código</b>: <%=h @query.codigoCurso %></li>
        <% Tipo.where(idTipoCurso: @query.idTipoCurso).select(:tipoCurso).each do |tipo| %>
        <li><b>Tipo</b>: <%= tipo.tipoCurso %></li>
        <% end %>
        <% Sede.where(idSede: @query.idSede).select(:nombreSede).each do |sede| %>
        <li><b>Sede</b>: <%= sede.nombreSede %></li>
        <% end %>
        <li><b>Nivel</b>: <%=h @query.nivelCurso %></li>
        <li><b>Capacidad</b>: <%=h @query.capacidadCurso %></li>
        <li><b>Fecha de inicio</b>: <%=h @query.inicioCurso.strftime('%d/%m/%Y') %></li>
        <li><b>Fecha de culminación</b>: <%=h @query.finCurso.strftime('%d/%m/%Y') %></li>
        <li><b>Horas cubiertas</b>: <%=h @query.horasCubiertas %></li>
        <li><b>Horas académicas</b>: <%=h @query.horasCurso %></li>
        </ol>
        <b><p class="text-danger">Todos los registros relacionados a este curso también serán eliminados.</p></b>
        <form action="/delete_course/<%= @id_curso %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a href="/dashboard/courses" class="btn btn-default">Cancelar</a>
        </form>
    </div>
  </div>
<% end %>
