<% if @id_profesor %>
  <div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Eliminar profesor</h3>
    </div>

    <div class="panel-body">
        <p>¿Está usted seguro de <b>eliminar</b> este profesor? Esta acción no puede ser revertida.</p>
        <li><b>Nombre</b>: <%= @query.nombreProfesor %></li>
        <li><b>Correo</b>: <%= @query.correoProfesor %></li>
        <li><b>Teléfono</b>: <%= @query.telefonoProfesor %></li>
        <li><b>Cédula</b>: <%= @query.cedulaProfesor %></li>
        <li><b>Fecha de ingreso</b>: <%= @query.fechaIngreso.strftime('%d/%m/%Y') %></li>
        <br />
        <b><p class="text-danger">Todos los registros relacionados a este profesor también serán eliminados.</p></b>
        <form action="/delete_teacher/<%= @id_profesor %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a href="/dashboard/teachers" class="btn btn-default">Cancelar</a>
        </form>
        <% else %>
          <p>No se encuentra el profesor.</p>
    </div>
  </div>
<% end %>
