<% if @id_estudiante %>
  <div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Eliminar estudiante</h3>
    </div>
    <div class="panel-body">
        <p>¿Está usted seguro de <b>eliminar</b> este estudiante? Esta acción no puede ser revertida.</p>
        <% Curso.where(idCurso: @query.idCurso).select(:codigoCurso).each do |course| %>
        <ol style="list-style-type:disc;">
        <li><b>Curso</b>: <%=h course.codigoCurso %></li>
        <% end %>
        <li><b>Nombre</b>: <%=h @query.nombreEstudiante %></li>
        <li><b>Correo</b>: <%=h @query.correoEstudiante %></li>
        <li><b>Teléfono</b>: <%=h @query.telefonoEstudiante %></li>
        <li><b>Cédula</b>: <%=h @query.cedulaEstudiante %></li>
        </ol>
        <b><p class="text-danger">Todos los registros relacionados a este estudiante también serán eliminados.</p></b>
        <form action="/delete_student/<%= @id_estudiante %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a href="/dashboard/students" class="btn btn-default">Cancelar</a>
        </form>
    </div>
  </div>
<% end %>
