<% if @id_cuenta %>
  <div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Eliminar cuenta bancaria</h3>
    </div>

    <div class="panel-body">
        <p>¿Está usted seguro de <b>eliminar</b> esta cuenta bancaria? Esta acción no puede ser revertida.</p>
        <% Teacher.where(idProfesor: @query.idProfesor).select(:nombreProfesor).each do |teacher| %>
        <ol style="list-style-type:disc;">
        <li><b>Titular</b>: <%=h teacher.nombreProfesor %></li>
        <% end %>
        <% Banco.where(idBanco: @query.idBanco).each do |bank| %>
        <li><b>Banco</b>: <%= bank.nombreBanco %></li>
        <% end %>
        <li><b>Número de cuenta</b>: <%=h @query.numeroCuenta %></li>
        <li><b>Tipo de cuenta</b>: <%= @query.tipoCuenta %></li>
        </ol>
        <form action="/<%= @id_profesor %>/delete_bank_account/<%= @id_cuenta %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a href="/dashboard/teachers/<%= @id_profesor %>/bank_accounts" class="btn btn-default">Cancelar</a>
        </form>
    </div>
  </div>
<% end %>
