<% if @id_profesor %>
  <div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Eliminar profesor</h3>
    </div>

    <div class="panel-body">
        <p>¿Está usted seguro de <b>eliminar</b> este profesor? Esta acción no puede ser revertida.</p>
        <ol style="list-style-type:disc;">
        <li><b>Nombre</b>: <%=h @query.nombreProfesor %></li>
        <li><b>Correo</b>: <%=h @query.correoProfesor %></li>
        <li><b>Teléfono</b>: <%=h @query.telefonoProfesor %></li>
        <li><b>Cédula</b>: <%=h @query.cedulaProfesor %></li>
        <li><b>Fecha de ingreso</b>: <%=h @query.fechaIngreso.strftime('%d/%m/%Y') %></li>
        </ol>
        <b><p class="text-danger">Todos los registros relacionados a este profesor también serán eliminados.</p></b>
        <form action="/delete_teacher/<%= @id_profesor %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a href="/dashboard/teachers" class="btn btn-default">Cancelar</a>
        </form>
    </div>
  </div>
<% end %>
