<form id="actualizar" action="/edit_user/<%= @id_usuario %>" method="POST">
  <% if flash[:notice] %>
    <p class="text-success"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="text-danger"><%= flash[:error] %></p>
  <% end %>
  <div class="form-group">
    <label>Nombre</label>
    <textarea name="usuario[nombreUsuario]" class="form-control"><%=h @user.nombreUsuario %></textarea>
  </div>
  <div class="form-group">
    <label>Cédula</label>
    <textarea name="usuario[cedulaUsuario]" class="form-control"><%=h @user.cedulaUsuario %></textarea>
  </div>
  <div class="form-group">
  <label>Rol</label>
  <select name="usuario[nivelAcceso]" class="form-control">
  <% if @user.nivelAcceso == "Admin" %>
    <option value="Admin" selected>Administrador</option>
    <option value="Recepcionista">Recepcionista</option>
  <% else %>
    <option value="Admin">Administrador</option>
    <option value="Recepcionista" selected>Recepcionista</option>
  <% end %>
  </select>
  </div>
  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success">Actualizar</button>
  <a href="/dashboard/users" class="btn btn-default">Cancelar</a>
</form>
