<form id="actualizar" action="/edit_course/<%= @id_curso %>" method="POST">
  <% if flash[:notice] %>
    <p class="text-success"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="text-danger"><%= flash[:error] %></p>
  <% end %>
  <div class="form-group">
    <label>Código</label>
    <textarea name="curso[codigoCurso]" class="form-control"><%=h @query.codigoCurso %></textarea>
  </div>
  <div class="form-group">
  <label>Tipo</label>
  <select name="curso[idTipoCurso]" class="form-control">
    <% @tipos.each do |tipo| %>
    <option <%= "selected" if tipo.idTipoCurso == @query.idTipoCurso %> value="<%= tipo.idTipoCurso %>"><%= tipo.tipoCurso %></option>
    <% end %>
  </select>
  </div>
  <div class="form-group">
  <label>Sede</label>
  <select name="curso[idSede]" class="form-control">
    <% @sedes.each do |sede| %>
    <option <%= "selected" if sede.idSede == @query.idSede %> value="<%= sede.idSede %>"><%= sede.nombreSede %></option>
    <% end %>
  </select>
  </div>
  <div class="form-group">
    <label>Nivel</label>
    <textarea name="curso[nivelCurso]" class="form-control"><%=h @query.nivelCurso %></textarea>
  </div>
  <div class="form-group">
    <label>Capacidad</label>
    <textarea name="curso[capacidadCurso]" class="form-control"><%=h @query.capacidadCurso %></textarea>
  </div>
  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success">Actualizar</button>
  <a href="/dashboard/courses" class="btn btn-default">Cancelar</a>
</form>