<form action="/dashboard/teachers/<%= @account.teacher_id %>/bank_accounts/<%= @account.bank_account_id %>/edit" method="POST">
  <div class="form-group">
  <label>Banco</label>
  <select name="form[bank_id]" class="form-control">
    <% @banks.each do |bank| %>
    <option <%= "selected" if bank.bank_id == @account.bank_id %> value="<%= bank.bank_id %>"><%=h bank.bank_name %></option>
    <% end %>
  </select>
  </div>
  <div class="form-group">
    <label>Número de cuenta</label>
    <textarea name="form[account_number]" class="form-control"><%= @account.account_number %></textarea>
  </div>
  <div class="form-group">
  <label>Tipo de cuenta</label>
  <select name="form[account_type]" class="form-control">
    <option value="">Seleccione el tipo de cuenta</option>
    <% ['Ahorro', 'Corriente'].each do |type| %>
    <option <%= "selected" if @account.account_type == type %> value="<%= type %>"><%= type %></option>
    <% end %>
  </select>
  </div>
  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success">Actualizar</button>
  <a href="/dashboard/teachers/<%= @account.teacher_id %>/bank_accounts" class="btn btn-default">Cancelar</a>
</form>
