<form id="actualizar" action="/<%= @id_profesor %>/edit_bank_account/<%= @id_cuenta %>" method="POST">
  <% if flash[:notice] %>
    <p class="text-success"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
  <% flash[:error].each do |mensaje| %>
    <p class="text-danger"><%= mensaje %></p>
  <% end %>
  <% end %>
  <div class="form-group">
  <label>Banco</label>
  <select name="cuenta[idBanco]" class="form-control">
    <% @banks.each do |bank| %>
    <option <%= "selected" if bank.idBanco == @query.idBanco %> value="<%= bank.idBanco %>"><%= bank.nombreBanco %></option>
    <% end %>
  </select>
  </div>
  <div class="form-group">
    <label>Número de cuenta</label>
    <textarea name="cuenta[numeroCuenta]" class="form-control"><%=h @query.numeroCuenta %></textarea>
  </div>
  <div class="form-group">
  <label>Tipo de cuenta</label>
  <select name="cuenta[tipoCuenta]" class="form-control">
    <option value="">Seleccione el tipo de cuenta</option>
    <% ['Ahorro', 'Corriente'].each do |tipo| %>
    <option <%= "selected" if @query.tipoCuenta == tipo %> value="<%= tipo %>"><%= tipo %></option>
    <% end %>
  </select>
  </div>
  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success">Actualizar</button>
  <a href="/dashboard/teachers/<%= @id_profesor %>/bank_accounts" class="btn btn-default">Cancelar</a>
</form>
