<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Emisor</th>
      <th scope="col">Monto cancelado</th>
      <th scope="col">Tipo de pago</th>
      <th scope="col">Fecha de emisión</th>
      <th scope="col">Fecha de expiración</th>
      <th scope="col">Estado</th>
      <th scope="col">Banco</th>
      <th scope="col">Número de referencia</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @fees.each do |fee| %>
    <% User.where(user_id: fee.user_id).select(:user_name).each do |user| %>
      <tr>
        <td><%=h user.user_name %></td>
        <td><%= fee.fee_amount %> BsF.</td>
        <td><%= fee.payment_type %></td>
        <td><%= fee.issue_date.strftime('%d/%m/%Y') %></td>
        <td><%= fee.expiration_date.strftime('%d/%m/%Y') %></td>
        <% if fee.fee_status.include?('expirada') %>
        <td><b><p class="text-danger"><%= fee.fee_status %></p></b></td>
        <% else %>
        <td><b><p class="text-success"><%= fee.fee_status %></p></b></td>
        <% end %>
        <% if fee.bank.empty? %>
        <td>N/A</td>
        <% else %>
        <td><%=h fee.bank %></td>
        <% end %>
        <% if fee.payment_type == 'Efectivo' %>
        <td>N/A</td>
        <% else %>
        <td><%=h fee.reference_number %></td>
        <% end %>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/students/<%= fee.student_id %>/fees/<%= fee.fee_id %>/delete">Eliminar</a></li>
              <li><a href="/dashboard/students/<%= fee.student_id %>/fees/<%= fee.fee_id %>/edit">Modificar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<% if @fees.empty? || Date.today >= @fees.take.expiration_date %>
<a href="/dashboard/students/<%= @student_id %>/fees/add" class="btn btn-success">Nueva cuota</a>
<% end %>
<a href="/dashboard/students" class="btn btn-default">Atrás</a>
