<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Curso</th>
      <th scope="col">Nivel</th>
      <th scope="col">Calificación final</th>
      <th scope="col">Fecha de emisión</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.course_code %></td>
        <td><%= grade.course_level %></td>
        <td><%= grade.grade %></td>
        <td><%= grade.grade_date.strftime('%d/%m/%Y') %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/students/<%= grade.student_id %>/grades/<%= grade.grade_id %>/delete">Eliminar</a></li>
              <li><a href="/dashboard/students/<%= grade.student_id %>/grades/<%= grade.grade_id %>/edit">Modificar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/dashboard/students" class="btn btn-default">Atrás</a>
