<div id="signupsPanel" class="panel panel-default notifications">
  <div class="panel-heading"><%= I18n.t('dashboard.panels.signups.labels.main_label') %></div>
  <% if @expired_signups.blank? %>
    <div class="panel-body">
      <p><%= I18n.t('dashboard.panels.signups.labels.empty_panel') %></p>
    </div>
  <% else %>
    <div class="panel-body">
      <p><%= I18n.t('dashboard.panels.signups.labels.non_empty') %></p>
    </div>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><%= I18n.t('dashboard.panels.signups.columns.student_name') %></th>
          <th scope="col"><%= I18n.t('dashboard.panels.signups.columns.expiration_date') %></th>
          <th scope="col"><%= I18n.t('dashboard.panels.signups.columns.options.label') %></th>
        </tr>
      </thead>
      <tbody>
        <% @expired_signups.each do |signup| %>
          <tr>
            <td><%= signup.payment_id %></td>
            <td><%= h(signup.student_name) %></td>
            <td><%= I18n.l(signup.expiration_date) %></td>
            <td><a href="/dashboard/students/<%= signup.student_id %>/signups/new"><%= I18n.t('dashboard.panels.signups.columns.options.renew') %></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="feesPanel" class="panel panel-default notifications">
  <div class="panel-heading"><%= I18n.t('dashboard.panels.fees.labels.main_label') %></div>
  <% if @expired_fees.blank? %>
    <div class="panel-body">
      <p><%= I18n.t('dashboard.panels.fees.labels.empty_panel') %></p>
    </div>
  <% else %>
    <div class="panel-body">
      <p><%= I18n.t('dashboard.panels.fees.labels.non_empty') %></p>
    </div>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><%= I18n.t('dashboard.panels.fees.columns.student_name') %></th>
          <th scope="col"><%= I18n.t('dashboard.panels.fees.columns.expiration_date') %></th>
          <th scope="col"><%= I18n.t('dashboard.panels.fees.columns.options.label') %></th>
        </tr>
      </thead>
      <tbody>
        <% @expired_fees.each do |fee| %>
          <tr>
            <td><%= fee.payment_id %></td>
            <td><%= h(fee.student_name) %></td>
            <td><%= I18n.l(fee.expiration_date) %></td>
            <td><a href="/dashboard/students/<%= fee.student_id %>/fees/new"><%= I18n.t('dashboard.panels.fees.columns.options.renew') %></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
