<div id="signupsPanel" class="panel panel-default notifications">
  <div class="panel-heading">Inscripciones expiradas</div>
  <% if @expired_signups.empty? %>
    <div class="panel-body">
      <p>No hay inscripciones expiradas el día de hoy.</p>
    </div>
  <% else %>
    <div class="panel-body">
      <p>Inscripciones vencidas a la fecha (<%= Date.today.strftime('%d/%m/%Y') %>)</p>
    </div>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre del estudiante</th>
          <th scope="col">Fecha de expiración</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @expired_signups.each do |signup| %>
          <tr>
            <td><%= signup.payment_id %></td>
            <td><%= h(signup.student_name) %></td>
            <td><%= signup.expiration_date.strftime('%d/%m/%Y') %></td>
            <td><a href="/dashboard/students/<%= signup.student_id %>/signups/new">Renovar</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="feesPanel" class="panel panel-default notifications">
  <div class="panel-heading">Cuotas expiradas</div>
  <% if @expired_fees.empty? %>
    <div class="panel-body">
      <p>No hay cuotas expiradas el día de hoy.</p>
    </div>
  <% else %>
    <div class="panel-body">
      <p>Cuotas vencidas a la fecha (<%= Date.today.strftime('%d/%m/%Y') %>)</p>
    </div>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre del estudiante</th>
          <th scope="col">Fecha de expiración</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @expired_fees.each do |fee| %>
          <tr>
            <td><%= fee.payment_id %></td>
            <td><%= h(fee.student_name) %></td>
            <td><%= fee.expiration_date.strftime('%d/%m/%Y') %></td>
            <td><a href="/dashboard/students/<%= fee.student_id %>/fees/new">Renovar</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
