<form id="registro" action="/dashboard/courses/new_course" method="POST">
  <% if flash[:error] %>
  <% flash[:error].each do |mensaje| %>
    <p class="text-danger"><%= mensaje %></p>
  <% end %>
  <% end %>
  <div class="form-group">
  <label>Tipo</label>
  <select name="curso[idTipoCurso]" class="form-control">
    <option value="" selected>Seleccione un tipo de curso</option>
    <% @tipos.each do |tipo| %>
    <option value="<%= tipo.idTipoCurso %>"><%= tipo.tipoCurso %></option>
    <% end %>
  </select>
  </div>
  <div class="form-group">
  <label>Sede</label>
  <select name="curso[idSede]" class="form-control">
    <option value="" selected>Seleccione una sede</option>
    <% @sedes.each do |sede| %>
    <option value="<%= sede.idSede %>"><%= sede.nombreSede %></option>
    <% end %>
  </select>
  </div>
  <div class="form-group">
    <label>Código</label>
    <input type="text" class="form-control" name="curso[codigoCurso]" placeholder="XX XX XX">
  </div>
  <div class="form-group">
    <label>Nivel</label>
    <input type="text" class="form-control" name="curso[nivelCurso]" placeholder="XX-X">
  </div>
  <div class="form-group">
    <label>Capacidad</label>
    <input type="text" class="form-control" name="curso[capacidadCurso]" placeholder="Capacidad">
  </div>
  <div class="form-group">
    <label>Fecha de inicio</label>
      <div class="input-group date" id="fechaizq">
        <input type="text" class="form-control" name="curso[inicioCurso]">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
  </div>
  <div class="form-group">
    <label>Fecha de culminación</label>
      <div class="input-group date" id="fechader">
        <input type="text" class="form-control" name="curso[finCurso]">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
  </div>
  <div class="form-group">
    <label>Duración (Horas)</label>
    <input type="text" class="form-control" name="curso[horasCurso]" placeholder="Horas">
  </div>
  <button type="submit" class="btn btn-success">Crear curso</button>
  <a href="/dashboard/courses" class="btn btn-default">Cancelar</a>
</form>
