<form id="nueva_inscripcion" action="/dashboard/students/<%= @id_estudiante %>/signups/add" method="POST">
  <% if flash[:notice] %>
    <p class="text-success"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
  <% flash[:error].each do |mensaje| %>
    <p class="text-danger"><%= mensaje %></p>
  <% end %>
  <% end %>
  <div class="form-group">
      <label>Monto de inscripción</label>
      <input type="text" class="form-control" name="inscripcion[costoInscripcion]" placeholder="Monto">
  </div>
  <div class="form-group">
  <label>Método de pago</label>
      <select name="inscripcion[tipoPago]" class="form-control" id="metodo">
          <option value="" selected>Seleccione un método de pago</option>
          <% ["Débito", "Depósito", "Transferencia"].each do |metodo| %>
          <option value="<%= metodo %>"><%= metodo %></option>
          <% end %>
      </select>
  </div>
  <div class="form-group">
    <label>Fecha de emisión</label>
    <div class="input-group date" id="fechaind">
      <input type="text" class="form-control" name="inscripcion[fechaEmision]">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="form-group" id="banco" style="display:none;">
    <label>Banco</label>
      <select name="inscripcion[banco]" class="form-control">
        <option value="" selected>Seleccione un banco</option>
        <% @banks.each do |bank| %>
        <option value="<%= bank.nombreBanco %>"><%= bank.nombreBanco %></option>
        <% end %>
      </select>
  </div>
  <div class="form-group" id="referencia" style="display:none;">
    <label>Número de referencia</label>
    <input type="text" class="form-control" name="inscripcion[numeroReferencia]" placeholder="Referencia">
  </div>
  <input type="hidden" name="inscripcion[idEstudiante]" value="<%= @id_estudiante %>">
  <input type="hidden" name="inscripcion[idUsuario]" value="<%= session[:id] %>">
  <button type="submit" class="btn btn-success">Generar inscripción</button>
  <a href="/dashboard/students/<%= @id_estudiante %>/signups" class="btn btn-default">Cancelar</a>
</form>
