<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Emisor</th>
      <th scope="col">Monto cancelado</th>
      <th scope="col">Tipo de pago</th>
      <th scope="col">Fecha de emisión</th>
      <th scope="col">Fecha de expiración</th>
      <th scope="col">Estado</th>
      <th scope="col">Banco</th>
      <th scope="col">Número de referencia</th>
      <th scope="col">Concepto</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @signups.each do |signup| %>
      <tr>
        <td><%= h(signup.user_name) %></td>
        <td><%= signup.signup_amount %> BsF.</td>
        <td><%= signup.payment_type %></td>
        <td><%= signup.issue_date.strftime('%d/%m/%Y') %></td>
        <td><%= signup.expiration_date.strftime('%d/%m/%Y') %></td>
        <% if signup.signup_status.include?('expirada') %>
        <td><b><p class="text-danger"><%= signup.signup_status %></p></b></td>
        <% else %>
        <td><b><p class="text-success"><%= signup.signup_status %></p></b></td>
        <% end %>
        <% if signup.bank.empty? %>
        <td>N/A</td>
        <% else %>
        <td><%= h(signup.bank) %></td>
        <% end %>
        <% if signup.payment_type == 'Efectivo' %>
        <td>N/A</td>
        <% else %>
        <td><%= h(signup.reference_number) %></td>
        <% end %>
        <td><%= h(signup.signup_description) %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/students/<%= signup.student_id %>/signups/<%= signup.signup_id %>/delete">Eliminar</a></li>
              <li><a href="/dashboard/students/<%= signup.student_id %>/signups/<%= signup.signup_id %>/edit">Modificar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @signups.empty? || Date.today >= @signups.take.expiration_date %>
<a href="/dashboard/students/<%= @student_id %>/signups/add" class="btn btn-success">Nueva inscripción</a>
<% end %>
<a href="/dashboard/students" class="btn btn-default">Atrás</a>
