<div>
  <form class="form-inline" action="/dashboard/students" method="GET">
    <div class="form-group">
      <input class="form-control" name="cedula" placeholder="Buscar por cédula" value="<%= params[:cedula] %>">
      <a href="/dashboard/students/new_student" class="btn btn-success">Nuevo estudiante</a>
    </div>
  </form>

  <br />

  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col">Cédula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Teléfono alternativo</th>
        <th scope="col">Correo</th>
        <th scope="col">¿Becado?</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.student_cedula %></td>
          <td><%= h(student.student_name) %></td>
          <td><%= student.student_phone %></td>
          <td><%= student.alternative_phone %></td>
          <td><%= student.student_email %></td>
          <td><%= student.has_scholarship ? 'Sí' : 'No' %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/dashboard/students/<%= student.student_id %>/grades">Calificaciones</a></li>
                <li><a href="/dashboard/students/<%= student.student_id %>/delete">Eliminar</a></li>
                <li><a href="/dashboard/students/<%= student.student_id %>/edit">Modificar</a></li>
                <li><a href="/dashboard/students/<%= student.student_id %>/fees">Pagos (Cuotas)</a></li>
                <li><a href="/dashboard/students/<%= student.student_id %>/signups">Pagos (Inscripciones)</a></li>
                <li><a href="/dashboard/students/<%= student.student_id %>/">Pagos (Misceláneos)</a></li>
                <li><a href="/dashboard/students/<%= student.student_id %>/reassign">Reasignar</a></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= will_paginate @students, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  <%= "<a href=\"/dashboard/students\">Volver</a>" if params[:cedula] %>
</div>
