<% if flash[:notice] %>
  <p class="success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Curso</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Cédula</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
    <% Curso.where(idCurso: student.idCurso).select(:codigoCurso).each do |course| %>
      <tr>
        <td><%=h course.codigoCurso %></td>
        <td><%=h student.nombreEstudiante %></td>
        <td><%=h student.correoEstudiante %></td>
        <td><%=h student.telefonoEstudiante %></td>
        <td><%=h student.cedulaEstudiante %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/students/<%= student.idEstudiante %>/grades">Calificaciones</a></li>
              <li><a href="/dashboard/students/<%= student.idEstudiante %>/fees">Cuotas</a></li>
              <li><a href="/dashboard/students/<%= student.idEstudiante %>/delete">Eliminar</a></li>
              <li><a href="/dashboard/students/<%= student.idEstudiante %>/signups">Inscripciones</a></li>
              <li><a href="/dashboard/students/<%= student.idEstudiante %>/edit">Modificar</a></li>
              <li><a href="/dashboard/students/<%= student.idEstudiante %>/reassign">Reasignar</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<a href="/dashboard/students/new_student" class="btn btn-success">Nuevo estudiante</a>
