<div>
  <form class="form-inline" action="/dashboard/teachers" method="GET">
    <div class="form-group">
      <input class="form-control" name="cedula" placeholder="Buscar por cédula" value="<%= params[:cedula] %>">
    </div>
    <% if session[:role] == 'Admin' %>
      <a href="/dashboard/teachers/new_teacher" class="btn btn-success">Nuevo profesor</a>
    <% end %>
  </form>

  <br />

  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col">Cédula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Correo</th>
        <th scope="col">Fecha de ingreso</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.teacher_cedula %></td>
          <td><%= h(teacher.teacher_name) %></td>
          <td><%= teacher.teacher_phone %></td>
          <td><%= teacher.teacher_email %></td>
          <td><%= teacher.entry_date.strftime('%d/%m/%Y') %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% if session[:role] == 'Admin' %>
                <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/bank_accounts">Cuentas bancarias</a></li>
                <% end %>
                <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/courses">Cursos asignados</a></li>
                <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/delete">Eliminar</a></li>
                <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/hours">Horas cubiertas</a></li>
                <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/edit">Modificar</a></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= will_paginate @teachers, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  <%= "<a href=\"/dashboard/teachers\">Volver</a>" if params[:cedula] %>
</div>
