<% if flash[:notice] %>
  <p class="text-success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="text-danger"><%= flash[:error] %></p>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Cédula</th>
      <th scope="col">Fecha de ingreso</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%=h teacher.nombreProfesor %></td>
        <td><%=h teacher.correoProfesor %></td>
        <td><%=h teacher.telefonoProfesor %></td>
        <td><%=h teacher.cedulaProfesor %></td>
        <td><%=h teacher.fechaIngreso.strftime('%d/%m/%Y') %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% if session[:rol] == "Admin" %>
              <li><a href="/dashboard/teachers/<%= teacher.idProfesor %>/bank_accounts">Cuentas bancarias</a></li>
              <% end %>
              <li><a href="/dashboard/teachers/<%= teacher.idProfesor %>/show_courses">Cursos</a></li>
              <li><a href="/dashboard/teachers/<%= teacher.idProfesor %>/delete">Eliminar</a></li>
              <li><a href="/dashboard/teachers/<%= teacher.idProfesor %>/edit">Modificar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/dashboard/teachers/new_teacher" class="btn btn-success">Nuevo profesor</a>
