<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Cédula</th>
      <th scope="col">Fecha de ingreso</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%=h teacher.teacher_name %></td>
        <td><%=h teacher.teacher_email %></td>
        <td><%=h teacher.teacher_phone %></td>
        <td><%=h teacher.teacher_cedula %></td>
        <td><%=h teacher.entry_date.strftime('%d/%m/%Y') %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% if session[:role] == 'Admin' %>
              <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/bank_accounts">Cuentas bancarias</a></li>
              <% end %>
              <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/courses">Cursos asignados</a></li>
              <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/delete">Eliminar</a></li>
              <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/edit">Modificar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if session[:role] == 'Admin' %>
<a href="/dashboard/teachers/new_teacher" class="btn btn-success">Nuevo profesor</a>
<% end %>
