<% if flash[:notice] %>
  <p class="text-success"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="text-danger"><%= flash[:error] %></p>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Cédula</th>
      <th scope="col">Nivel de acceso</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombreUsuario %></td>
        <td><%= user.cedulaUsuario %></td>
        <td><%= user.nivelAcceso %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/users/edit/<%= user.idUsuario %>">Modificar</a></li>
              <li><a href="/dashboard/users/delete/<%= user.idUsuario %>">Eliminar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="/dashboard/users/new_user" class="btn btn-success">Crear nuevo usuario</a>
