<% if @student.student_id %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Eliminar estudiante</h3>
    </div>

    <div class="panel-body">
      <p>¿Está usted seguro de <b>eliminar</b> este estudiante? Esta acción no puede ser revertida.</p>
      <ol style="list-style-type:disc;">
        <li><b>Cédula</b>: <%= @student.student_cedula %></li>
        <li><b>Nombre</b>: <%= h(@student.student_name) %></li>
        <li><b>Teléfono</b>: <%= @student.student_phone %></li>
        <li><b>Teléfono alterno</b>: <%= @student.alternative_phone %></li>
        <li><b>Correo</b>: <%= @student.student_email %></li>
      </ol>
      <b><p class="text-danger">Todos los registros relacionados a este estudiante también serán eliminados.</p></b>

      <form action="/dashboard/students/<%= @student.student_id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="/dashboard/students" class="btn btn-default">Cancelar</a>
      </form>
    </div>
  </div>
<% end %>
