<% if @student.student_id %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= I18n.t('students.page_titles.delete_student') %></h3>
    </div>

    <div class="panel-body">
      <p><%= I18n.t('students.messages.warnings.are_you_sure') %></p>
      <ol style="list-style-type:disc;">
        <li><b><%= I18n.t('students.labels.id') %></b>: <%= @student.student_cedula %></li>
        <li><b><%= I18n.t('students.labels.name') %></b>: <%= h(@student.student_name) %></li>
        <li><b><%= I18n.t('students.labels.phone_number') %></b>: <%= @student.student_phone %></li>
        <li><b><%= I18n.t('students.labels.alt_phone_number') %></b>: <%= @student.alternative_phone %></li>
        <li><b><%= I18n.t('students.labels.email') %></b>: <%= @student.student_email %></li>
        <li><b><%= I18n.t('students.labels.has_scholarship') %></b>: <%= @student.has_scholarship ? I18n.t('students.data.has_scholarship.assigned') : I18n.t('students.data.has_scholarship.non_assigned') %></li>
      </ol>
      <b><p class="text-danger"><%= I18n.t('students.messages.warnings.related_records') %></p></b>

      <form action="/dashboard/students/<%= @student.student_id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger"><%= I18n.t('students.buttons.delete_student') %></button>
        <a href="/dashboard/students" class="btn btn-default"><%= I18n.t('students.buttons.cancel') %></a>
      </form>
    </div>
  </div>
<% end %>
