<form action="/dashboard/students/<%= @student.student_id %>/edit" method="POST">
  <div class="form-group">
    <label><%= I18n.t('students.labels.id') %></label>
    <input type="text" name="student[student_cedula]" class="form-control" value="<%= @student.student_cedula %>"></input>
  </div>

  <div class="form-group">
    <label><%= I18n.t('students.labels.name') %></label>
    <input type="text" name="student[student_name]" class="form-control" value="<%= h(@student.student_name) %>"></input>
  </div>

  <div class="form-group">
    <label><%= I18n.t('students.labels.phone_number') %></label>
    <input type="text" name="student[student_phone]" class="form-control" value="<%= @student.student_phone %>"></input>
  </div>

  <div class="form-group">
    <label><%= I18n.t('students.labels.alt_phone_number') %></label>
    <input type="text" name="student[alternative_phone]" class="form-control" value="<%= @student.alternative_phone %>"></input>
  </div>

  <div class="form-group">
    <label><%= I18n.t('students.labels.email') %></label>
    <input type="email" name="student[student_email]" class="form-control" value="<%= @student.student_email %>"></input>
  </div>

  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success"><%= I18n.t('students.buttons.update_student') %></button>
  <a href="/dashboard/students" class="btn btn-default"><%= I18n.t('students.buttons.cancel') %></a>
</form>
