<div>
  <form class="form-inline" action="/dashboard/students" method="GET">
    <div class="form-group">
      <input class="form-control" name="cedula" placeholder="<%= I18n.t('students.search_placeholder') %>" value="<%= params[:cedula] %>">
      <a href="/dashboard/students/new_student" class="btn btn-success"><%= I18n.t('students.buttons.new_student') %></a>
    </div>
  </form>

  <br />

  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('students.labels.id') %></th>
        <th scope="col"><%= I18n.t('students.labels.name') %></th>
        <th scope="col"><%= I18n.t('students.labels.phone_number') %></th>
        <th scope="col"><%= I18n.t('students.labels.alt_phone_number') %></th>
        <th scope="col"><%= I18n.t('students.labels.email') %></th>
        <th scope="col"><%= I18n.t('students.labels.has_scholarship') %></th>
        <th scope="col"><%= I18n.t('students.labels.options') %></th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.student_cedula %></td>
          <td><%= h(student.student_name) %></td>
          <td><%= student.student_phone %></td>
          <td><%= student.alternative_phone %></td>
          <td><%= student.student_email %></td>
          <td><%= student.has_scholarship ? I18n.t('students.data.has_scholarship.assigned') : I18n.t('students.data.has_scholarship.non_assigned') %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t('students.labels.options') %><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/dashboard/students/<%= student.student_id %>/grades"><%= I18n.t('students.options.grades') %></a></li>
                <li><a href="/dashboard/students/<%= student.student_id %>/delete"><%= I18n.t('students.options.delete') %></a></li>
                <li><a href="/dashboard/students/<%= student.student_id %>/edit"><%= I18n.t('students.options.edit') %></a></li>
                <li><a href="/dashboard/students/<%= student.student_id %>/fees"><%= I18n.t('students.options.fee_payments') %></a></li>
                <li><a href="/dashboard/students/<%= student.student_id %>/signups"><%= I18n.t('students.options.signup_payments') %></a></li>
                <li><a href="#"><%= I18n.t('students.options.misc_payments') %></a></li>
                <li><a href="#"><%= I18n.t('students.options.reassign') %></a></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= will_paginate @students, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  <%= "<a href=\"/dashboard/students\">#{I18n.t('students.buttons.back')}</a>" if params[:cedula] %>
</div>
