<h3 align="center" style="padding-bottom:1%;"><%= I18n.t('grades.page_titles.student_grades', student_name: h(@student.student_name)) %></h3>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t('grades.labels.course_level') %></th>
      <th scope="col"><%= I18n.t('grades.labels.final_grade') %></th>
      <th scope="col"><%= I18n.t('grades.labels.date_assigned') %></th>
      <th scope="col"><%= I18n.t('grades.labels.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.section_code %></td>
        <td><%= grade.final_grade %></td>
        <td><%= I18n.l(grade.date_assigned) %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t('grades.labels.options') %><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/students/<%= grade.student_id %>/grades/<%= grade.grade_id %>/edit"><%= I18n.t('grades.options.edit') %></a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @grades.size > 10 %>
  <div class="pagination">
    <%= will_paginate @grades, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  </div>
<% end %>

<a href="/dashboard/students" class="btn btn-default"><%= I18n.t('grades.buttons.back') %></a>
