<% if @signup.payment_id %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= I18n.t('payments.page_titles.delete_signup') %></h3>
    </div>

    <div class="panel-body">
      <p><%= I18n.t('payments.messages.warnings.are_you_sure') %></p>
      <ol style="list-style-type:disc;">
        <li><b><%= I18n.t('payments.labels.student') %></b>: <%= h(@signup.student_name) %></li>
        <li><b><%= I18n.t('payments.labels.issuer') %></b>: <%= h(@signup.user_name) %></li>
        <li><b><%= I18n.t('payments.labels.signup_amount') %></b>: <%= I18n.t('payments.data.payment_amount', amount: @signup.payment_amount) %></li>
        <li><b><%= I18n.t('payments.labels.payment_method') %></b>: <%= @signup.payment_method %></li>
        <li><b><%= I18n.t('payments.labels.signup_status') %></b>: <%= @signup.payment_status %></li>
        <li><b><%= I18n.t('payments.labels.issue_date') %></b>: <%= I18n.l(@signup.issue_date) %></li>
        <li><b><%= I18n.t('payments.labels.expiration_date') %></b>: <%= I18n.l(@signup.expiration_date) %></li>
        <% unless @signup.bank.empty? %>
          <li><b><%= I18n.t('payments.labels.bank') %></b>: <%= @signup.bank %></li>
        <% end %>
        <% unless @signup.payment_method == 'Efectivo' %>
          <li><b><%= I18n.t('payments.labels.reference_number') %></b>: <%= h(@signup.reference_number) %></li>
        <% end %>
      </ol>

      <form action="/dashboard/students/<%= @signup.student_id %>/signups/<%= @signup.payment_id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger"><%= I18n.t('payments.buttons.delete_record') %></button>
        <a href="/dashboard/students/<%= @signup.student_id %>/signups" class="btn btn-default"><%= I18n.t('payments.buttons.cancel') %></a>
      </form>
    </div>
  </div>
<% end %>
