<h3 align="center" style="padding-bottom:1%;"><%= I18n.t('payments.headers.signups', student_name: h(@student.student_name)) %></h3>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t('payments.labels.issuer') %></th>
      <th scope="col"><%= I18n.t('payments.labels.signup_amount') %></th>
      <th scope="col"><%= I18n.t('payments.labels.payment_method') %></th>
      <th scope="col"><%= I18n.t('payments.labels.signup_status') %></th>
      <th scope="col"><%= I18n.t('payments.labels.issue_date') %></th>
      <th scope="col"><%= I18n.t('payments.labels.expiration_date') %></th>
      <th scope="col"><%= I18n.t('payments.labels.bank') %></th>
      <th scope="col"><%= I18n.t('payments.labels.reference_number') %></th>
      <th scope="col"><%= I18n.t('payments.labels.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @signups.each do |signup| %>
      <tr>
        <td><%= h(signup.user_name) %></td>
        <td><%= I18n.t('payments.data.payment_amount', amount: signup.payment_amount) %></td>
        <td><%= signup.payment_method %></td>
        <td><%= signup.payment_status %></td>
        <td><%= I18n.l(signup.issue_date) %></td>
        <td><%= I18n.l(signup.expiration_date) %></td>
        <td><%= signup.bank.empty? ? "N/A" : signup.bank %></td>
        <td><%= signup.payment_method == "Efectivo" ? "N/A" : h(signup.reference_number) %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t('payments.labels.options') %><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/students/<%= signup.student_id %>/signups/<%= signup.payment_id %>/delete"><%= I18n.t('payments.options.delete') %></a></li>
              <li><a href="/dashboard/students/<%= signup.student_id %>/signups/<%= signup.payment_id %>/edit"><%= I18n.t('payments.options.edit') %></a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @signups.size > 10 %>
  <div class="pagination">
    <%= will_paginate @signups, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  </div>
<% end %>

<% if @signups.blank? || Date.today >= @signups.first.expiration_date %>
  <a href="/dashboard/students/<%= @student.student_id %>/signups/new" class="btn btn-success"><%= I18n.t('payments.buttons.new_signup') %></a>
<% end %>
<a href="/dashboard/students" class="btn btn-default"><%= I18n.t('payments.buttons.back') %></a>
