<form action="/dashboard/students/<%= @student.student_id %>/edit" method="POST">
  <div class="form-group">
    <label>Nombre</label>
    <textarea name="student[student_name]" class="form-control"><%=h @student.student_name %></textarea>
  </div>
  <div class="form-group">
    <label>Correo</label>
    <textarea name="student[student_email]" class="form-control"><%= @student.student_email %></textarea>
  </div>
  <div class="form-group">
    <label>Teléfono</label>
    <textarea name="student[student_phone]" class="form-control"><%= @student.student_phone %></textarea>
  </div>
  <div class="form-group">
    <label>Teléfono alterno</label>
    <textarea name="student[alt_phone]" class="form-control"><%= @student.alt_phone %></textarea>
  </div>
  <div class="form-group">
    <label>Cédula</label>
    <textarea name="student[student_cedula]" class="form-control"><%= @student.student_cedula %></textarea>
  </div>
  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success">Actualizar</button>
  <a href="/dashboard/students" class="btn btn-default">Cancelar</a>
</form>
