<form action="/dashboard/providers/<%= @provider.provider_id %>/edit" method="POST">
  <div class="form-group">
    <label>Nombre</label>
    <input name="provider[provider_name]" class="form-control" value="<%= h(@provider.provider_name) %>"></input>
  </div>
  <div class="form-group">
    <label>RIF</label>
    <input name="provider[provider_rif]" class="form-control" value="<%= @provider.provider_rif %>"></input>
  </div>
  <div class="form-group">
    <label>Teléfono</label>
    <input name="provider[provider_phone]" class="form-control" value="<%= @provider.provider_phone %>"></input>
  </div>
  <div class="form-group">
    <label>Correo</label>
    <input name="provider[provider_email]" class="form-control" value="<%= @provider.provider_email %>"></input>
  </div>
  <div class="form-group">
    <label>Encargado</label>
    <input name="provider[manager]" class="form-control" value="<%= h(@provider.manager_name) %>"></input>
  </div>
  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success">Actualizar</button>
  <a href="/dashboard/providers" class="btn btn-default">Cancelar</a>
</form>
