<form action="/dashboard/users/<%= @user.user_id %>/edit" method="POST">
  <div class="form-group">
    <label>Nombre</label>
    <textarea name="user[user_name]" class="form-control"><%=h @user.user_name %></textarea>
  </div>
  <div class="form-group">
    <label>Cédula</label>
    <textarea name="user[user_cedula]" class="form-control"><%= @user.user_cedula %></textarea>
  </div>
  <div class="form-group">
  <label>Rol</label>
  <select name="user[access_level]" class="form-control">
  <option value="">Seleccione nivel de acceso</option>
  <% ['Admin', 'Pedagogo', 'Recepcionista'].each do |role| %>
  <option <%= "selected" if role == @user.access_level %> value="<%= role %>"><%= role %></option>
  <% end %>
  </select>
  </div>
  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success">Actualizar</button>
  <a href="/dashboard/users" class="btn btn-default">Cancelar</a>
</form>
