<form action="/dashboard/users/new_user" method="POST">
  <div class="form-group">
    <label><%= I18n.t('users.labels.id') %></label>
    <input type="text" class="form-control" name="user[user_cedula]" placeholder="<%= I18n.t('users.labels.id') %>">
  </div>

  <div class="form-group">
    <label><%= I18n.t('users.labels.name') %></label>
    <input type="text" class="form-control" name="user[user_name]" placeholder="<%= I18n.t('users.labels.name') %>">
  </div>

  <div class="form-group">
    <label><%= I18n.t('users.labels.password') %></label>
    <input type="password" class="form-control" name="user[user_password]" placeholder="<%= I18n.t('users.labels.password') %>">
  </div>

  <div class="form-group">
    <label><%= I18n.t('users.labels.role') %></label>
    <select name="user[access_level]" class="form-control">
      <option value="" selected><%= I18n.t('users.data.roles.default') %></option>
        <% @roles.each do |key, value| %>
          <option value="<%= key %>"><%= value %></option>
        <% end %>
    </select>
  </div>

  <button type="submit" class="btn btn-success"><%= I18n.t('users.buttons.new_user') %></button>
  <a href="/dashboard/users" class="btn btn-default"><%= I18n.t('users.buttons.cancel') %></a>
</form>
