<form action="/dashboard/users/<%= @user_id %>/reset_password" method="POST">
  <div class="form-group">
    <label><%= I18n.t('users.labels.new_password') %></label>
    <input type="password" class="form-control" name="password" placeholder="<%= I18n.t('users.labels.new_password') %>">
  </div>

  <div class="form-group">
    <label><%= I18n.t('users.labels.confirm_password') %></label>
    <input type="password" class="form-control" name="confirm" placeholder="<%= I18n.t('users.labels.confirm_password') %>">
  </div>

  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success"><%= I18n.t('users.buttons.reset_password') %></button>
  <a href="/dashboard/users" class="btn btn-default"><%= I18n.t('users.buttons.cancel') %></a>
</form>
