<div>
  <form class="form-inline" action="/dashboard/users" method="GET">
    <div class="form-group">
      <input class="form-control" name="cedula" placeholder="<%= I18n.t('users.search_placeholder') %>" value="<%= params[:cedula] %>">
    </div>
    <a href="/dashboard/users/new_user" class="btn btn-success"><%= I18n.t('users.buttons.new_user') %></a>
  </form>

  <br />

  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('users.labels.id') %></th>
        <th scope="col"><%= I18n.t('users.labels.name') %></th>
        <th scope="col"><%= I18n.t('users.labels.role') %></th>
        <th scope="col"><%= I18n.t('users.labels.account_status') %></th>
        <th scope="col"><%= I18n.t('users.labels.options') %></th>
      </tr>
    </thead>
    <tbody id="usersTable">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.user_cedula %></td>
          <td><%= h(user.user_name) %></td>
          <td><%= user.access_level %></td>
          <td id="status_<%= user.user_id %>"><%= user.has_access ? I18n.t('users.account_status.unlocked') : I18n.t('users.account_status.locked') %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t('users.labels.options') %><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li class="<%= user.has_access ? 'show': 'hidden' %>"><a href="#" id="lock_account_<%= user.user_id %>" data-user-id="<%= user.user_id %>"><%= I18n.t('users.options.lock_account') %></a></li>
                <li class="<%= user.has_access ? 'hidden': 'show' %>"><a href="#" id="unlock_account_<%= user.user_id %>" data-user-id="<%= user.user_id %>"><%= I18n.t('users.options.unlock_account') %></a></li>
                <li><a href="/dashboard/users/<%= user.user_id %>/edit"><%= I18n.t('users.options.edit') %></a></li>
                <li><a href="/dashboard/users/<%= user.user_id %>/delete"><%= I18n.t('users.options.delete') %></a></li>
                <li><a href="/dashboard/users/<%= user.user_id %>/reset_password"><%= I18n.t('users.options.reset_password') %></a></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= will_paginate @users, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  <%= "<a href=\"/dashboard/users\">#{I18n.t('users.buttons.back')}</a>" if params[:cedula] %>
</div>
