<% if @account.bank_account_id %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= I18n.t('bank_accounts.page_titles.delete_bank_account') %></h3>
    </div>

    <div class="panel-body">
      <p><%= I18n.t('bank_accounts.messages.warnings.are_you_sure') %></p>
      <ol style="list-style-type:disc;">
        <li><b><%= I18n.t('bank_accounts.labels.account_holder') %></b>: <%= h(@account.teacher_name) %></li>
        <li><b><%= I18n.t('bank_accounts.labels.bank') %></b>: <%= @account.bank_name %></li>
        <li><b><%= I18n.t('bank_accounts.labels.account_number') %></b>: <%= @account.account_number %></li>
        <li><b><%= I18n.t('bank_accounts.labels.account_type') %></b>: <%= @account.account_type %></li>
      </ol>

      <form action="/dashboard/teachers/<%= @account.teacher_id %>/bank_accounts/<%= @account.bank_account_id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger"><%= I18n.t('bank_accounts.buttons.delete') %></button>
        <a href="/dashboard/teachers/<%= @account.teacher_id %>/bank_accounts" class="btn btn-default"><%= I18n.t('bank_accounts.buttons.cancel') %></a>
      </form>
    </div>
  </div>
<% end %>
