<form action="/dashboard/teachers/<%= @account.teacher_id %>/bank_accounts/<%= @account.bank_account_id %>/edit" method="POST">
  <div class="form-group">
  <label><%= I18n.t('bank_accounts.labels.bank') %></label>
    <select name="form[bank_id]" class="form-control">
      <% @banks.each do |bank| %>
        <option <%= "selected" if bank.bank_id == @account.bank_id %> value="<%= bank.bank_id %>"><%= bank.bank_name %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label><%= I18n.t('bank_accounts.labels.account_number') %></label>
    <input type="text" name="form[account_number]" class="form-control" value="<%= @account.account_number %>"></input>
  </div>

  <div class="form-group">
    <label><%= I18n.t('bank_accounts.labels.account_type') %></label>
    <select name="form[account_type]" class="form-control">
      <% ['Ahorro', 'Corriente'].each do |type| %>
        <option <%= "selected" if @account.account_type == type %> value="<%= type %>"><%= type %></option>
      <% end %>
    </select>
  </div>

  <input type="hidden" name="_method" value="PUT">

  <button type="submit" class="btn btn-success"><%= I18n.t('bank_accounts.buttons.update') %></button>
  <a href="/dashboard/teachers/<%= @account.teacher_id %>/bank_accounts" class="btn btn-default"><%= I18n.t('bank_accounts.buttons.cancel') %></a>
</form>
