<form action="/dashboard/teachers/<%= params[:id] %>/bank_accounts/new" method="POST">
  <div class="form-group">
  <label><%= I18n.t('bank_accounts.labels.bank') %></label>
    <select name="account[bank_id]" class="form-control">
      <option value="" selected><%= I18n.t('bank_accounts.data.banks.default') %></option>
      <% @banks.each do |bank| %>
        <option value="<%= bank.bank_id %>"><%= bank.bank_name %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label><%= I18n.t('bank_accounts.labels.account_number') %></label>
    <input type="text" class="form-control" name="account[account_number]" placeholder="<%= I18n.t('bank_accounts.labels.account_number') %>">
  </div>

  <div class="form-group">
    <label><%= I18n.t('bank_accounts.labels.account_type') %></label>
    <select name="account[account_type]" class="form-control">
      <option value="" selected><%= I18n.t('bank_accounts.data.account_types.default') %></option>
      <% ['Ahorro', 'Corriente'].each do |type| %>
        <option value="<%= type %>"><%= type %></option>
      <% end %>
    </select>
  </div>

  <input type="hidden" name="account[teacher_id]" value="<%= params[:id] %>">

  <button type="submit" class="btn btn-success"><%= I18n.t('bank_accounts.buttons.new_bank_account') %></button>
  <a href="/dashboard/teachers/<%= params[:id] %>/bank_accounts" class="btn btn-default"><%= I18n.t('bank_accounts.buttons.cancel') %></a>
</form>
