<form action="/dashboard/providers/<%= @provider.provider_id %>/edit" method="POST">
  <div class="form-group">
    <label><%= I18n.t('providers.labels.rif') %></label>
    <input name="provider[provider_rif]" class="form-control" value="<%= @provider.provider_rif %>"></input>
  </div>

  <div class="form-group">
    <label><%= I18n.t('providers.labels.name') %></label>
    <input name="provider[provider_name]" class="form-control" value="<%= h(@provider.provider_name) %>"></input>
  </div>

  <div class="form-group">
    <label><%= I18n.t('providers.labels.manager') %></label>
    <input name="provider[manager_name]" class="form-control" value="<%= h(@provider.manager_name) %>"></input>
  </div>

  <div class="form-group">
    <label><%= I18n.t('providers.labels.phone') %></label>
    <input name="provider[provider_phone]" class="form-control" value="<%= @provider.provider_phone %>"></input>
  </div>

  <div class="form-group">
    <label><%= I18n.t('providers.labels.email') %></label>
    <input name="provider[provider_email]" class="form-control" value="<%= @provider.provider_email %>"></input>
  </div>

  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success"><%= I18n.t('providers.buttons.update') %></button>
  <a href="/dashboard/providers" class="btn btn-default"><%= I18n.t('providers.buttons.cancel') %></a>
</form>
