<div>
  <form class="form-inline" action="/dashboard/providers" method="GET">
    <div class="form-group">
      <input class="form-control" name="provider_name" placeholder="<%= I18n.t('providers.search_placeholder') %>" value="<%= params[:provider_name] %>">
    </div>
    <a href="/dashboard/providers/new_provider" class="btn btn-success"><%= I18n.t('providers.buttons.new_provider') %></a>
  </form>

  <br />

  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('providers.labels.rif') %></th>
        <th scope="col"><%= I18n.t('providers.labels.name') %></th>
        <th scope="col"><%= I18n.t('providers.labels.manager') %></th>
        <th scope="col"><%= I18n.t('providers.labels.phone') %></th>
        <th scope="col"><%= I18n.t('providers.labels.email') %></th>
        <th scope="col"><%= I18n.t('providers.labels.options') %></th>
      </tr>
    </thead>
    <tbody>
      <% @providers.each do |provider| %>
        <tr>
          <td><%= provider.provider_rif %></td>
          <td><%= h(provider.provider_name) %></td>
          <td><%= h(provider.manager_name) %></td>
          <td><%= provider.provider_phone %></td>
          <td><%= provider.provider_email %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t('providers.labels.options') %><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="/dashboard/providers/<%= provider.provider_id %>/delete"><%= I18n.t('providers.options.delete') %></a></li>
                <li><a href="/dashboard/providers/<%= provider.provider_id %>/edit"><%= I18n.t('providers.options.edit') %></a></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= will_paginate @providers, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  <%= "<a href=\"/dashboard/providers\">#{I18n.t('providers.buttons.back')}</a>" if params[:provider_name] %>
</div>
