<div id="coursesPanel" class="panel panel-default teacher-courses">
  <div class="panel-heading"><%= I18n.t('teacher_courses.headers.assigned_courses', teacher_name: h(@teacher.teacher_name)) %></div>
  <% if @courses.blank? %>
    <div class="panel-body">
      <p><%= I18n.t('teacher_courses.panels.assigned_courses.no_courses') %></p>
    </div>
  <% else %>
    <div class="panel-body">
      <p><%= I18n.t('teacher_courses.panels.assigned_courses.has_courses') %></p>
    </div>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th scope="col"><%= I18n.t('teacher_courses.labels.code') %></th>
          <th scope="col"><%= I18n.t('teacher_courses.labels.modality') %></th>
          <th scope="col"><%= I18n.t('teacher_courses.labels.office') %></th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= course.course_code %></td>
            <td><%= course.course_modality %></td>
            <td><%= course.office_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="formPanel" class="panel panel-default teacher-courses">
  <div class="panel-body">
    <form action="/dashboard/teachers/<%= @teacher.teacher_id %>/courses/assign" method="POST">
      <div class="form-group">
        <label><%= I18n.t('teacher_courses.panels.available_courses.course_to_assign') %></label>
        <select name="course_teacher[course_id]" class="form-control">
          <option value=""><%= I18n.t('teacher_courses.panels.available_courses.options.default') %></option>
          <% @available_courses.each do |course| %>
          <option value="<%= course.course_id %>"><%= "#{course.course_code} - #{course.course_modality}" %></option>
          <% end %>
        </select>
      </div>
      <input type="hidden" name="course_teacher[teacher_id]" value="<%= params[:id] %>"></input>
      <button type="submit" class="btn btn-success"><%= I18n.t('teacher_courses.buttons.assign_course') %></button>
      <a href="/dashboard/teachers/<%= @teacher.teacher_id %>/courses" class="btn btn-default"><%= I18n.t('teacher_courses.buttons.cancel') %></a>
    </form>
  </div>
</div>
