<% content_for :styles do %>
  <link rel="stylesheet" type="text/css" href="<%=url("/stylesheets/bootstrap-datetimepicker.min.css")%>">
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="<%=url("/javascript/moment.min.js")%>"></script>
  <script type="text/javascript" src="<%=url("/javascript/bootstrap-datetimepicker.min.js")%>"></script>
<% end %>

<form action="/dashboard/teachers/new_teacher" method="POST">
  <div class="form-group">
    <label><%= I18n.t('teachers.labels.id') %></label>
    <input type="text" class="form-control" name="teacher[teacher_cedula]" placeholder="<%= I18n.t('teachers.labels.id') %>">
  </div>

  <div class="form-group">
    <label><%= I18n.t('teachers.labels.name') %></label>
    <input type="text" class="form-control" name="teacher[teacher_name]" placeholder="<%= I18n.t('teachers.labels.name') %>">
  </div>

  <div class="form-group">
    <label><%= I18n.t('teachers.labels.phone_number') %></label>
    <input type="text" class="form-control" name="teacher[teacher_phone]" placeholder="XXXX-XXXXXXX">
  </div>

  <div class="form-group">
    <label><%= I18n.t('teachers.labels.email') %></label>
    <input type="email" class="form-control" name="teacher[teacher_email]" placeholder="<%= I18n.t('teachers.labels.email') %>">
  </div>

  <div class="form-group">
    <label><%= I18n.t('teachers.labels.entry_date') %></label>
    <div class="input-group date" id="datePicker">
      <input type="text" class="form-control" name="teacher[entry_date]" placeholder="DD/MM/YYYY">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <button type="submit" class="btn btn-success"><%= I18n.t('teachers.buttons.new_teacher') %></button>
  <a href="/dashboard/teachers" class="btn btn-default"><%= I18n.t('teachers.buttons.cancel') %></a>
</form>
