<div>
  <form class="form-inline" action="/dashboard/teachers" method="GET">
    <div class="form-group">
      <input class="form-control" name="cedula" placeholder="<%= I18n.t('teachers.search_placeholder') %>" value="<%= params[:cedula] %>">
    </div>
    <% if current_user_is_admin? %>
      <a href="/dashboard/teachers/new_teacher" class="btn btn-success"><%= I18n.t('teachers.buttons.new_teacher') %></a>
    <% end %>
  </form>

  <br />

  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('teachers.labels.id') %></th>
        <th scope="col"><%= I18n.t('teachers.labels.name') %></th>
        <th scope="col"><%= I18n.t('teachers.labels.phone_number') %></th>
        <th scope="col"><%= I18n.t('teachers.labels.email') %></th>
        <th scope="col"><%= I18n.t('teachers.labels.entry_date') %></th>
        <th scope="col"><%= I18n.t('teachers.labels.options') %></th>
      </tr>
    </thead>
    <tbody>
      <% @teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.teacher_cedula %></td>
          <td><%= h(teacher.teacher_name) %></td>
          <td><%= teacher.teacher_phone %></td>
          <td><%= teacher.teacher_email %></td>
          <td><%= I18n.l(teacher.entry_date) %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= I18n.t('teachers.labels.options') %><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% if current_user_is_admin? %>
                  <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/bank_accounts"><%= I18n.t('teachers.options.bank_accounts') %></a></li>
                <% end %>
                <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/courses"><%= I18n.t('teachers.options.assigned_courses') %></a></li>
                <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/delete"><%= I18n.t('teachers.options.delete') %></a></li>
                <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/hours"><%= I18n.t('teachers.options.hours_covered') %></a></li>
                <li><a href="/dashboard/teachers/<%= teacher.teacher_id %>/edit"><%= I18n.t('teachers.options.edit') %></a></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= will_paginate @teachers, container: false, previous_label: "&laquo", next_label: "&raquo" %>
  <%= "<a href=\"/dashboard/teachers\">#{I18n.t('teachers.buttons.back')}</a>" if params[:cedula] %>
</div>
